/* Codice sconto */
.codice-sconto {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: transparent;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container:hover {
  background: linear-gradient(to right, #b8a99c, #e0d7cf);
}

/* Navbar */

.logo a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  transition: color 0.3s;
}

.nav a:hover {
  color: orangered;
}

.search-user-cart {
  display: flex;
  gap: 15px;
}

.search-user-cart a {
  font-size: 18px;
  cursor: pointer;
  color: black;
  transition: color 0.3s;
}

.search-user-cart a:hover {
  color: #ddd;
}