.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 999;
}

.container-pop {
    width: 30%;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    line-height: 40px;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.738);
}

.email-pop {
    padding: 20px;
}

.email-pop input {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

.message-pop {
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 30px;
}

.message-pop h2 {
    color: white;
    font-size: 50px;
}

/* Bottone d'invio */
.button-pop button {
    padding: 8px 12px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

/* Messaggio d'errore */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Bottone di chiusura */
.x-button {
    padding: 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}