.product-list {
    text-align: center;
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
  }
  

  .product-image, .product-image1 {
    width: 100%;
    border-radius: 5px;
  }
  .product-image1{
    display: none;
  }
  .product-card:hover .product-image{
    display: none;
  }
  .product-card:hover .product-image1{
    display: block;
  } 
  .product-card a{
    color: black;
    text-decoration: none;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  