/* modifiche generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* nascondo la scrollbar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer e Edge Legacy */
}

/* nascondo la scrollbar */
*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

/* Font family */
body {
    font-family: Georgia, 'Times New Roman', Times, serif
}