/* modifiche generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font family */
body {
    font-family: Georgia, 'Times New Roman', Times, serif
}


section {
    padding: 20px 0;
}

.about-us {
    text-align: center;
}

.about-us img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.about-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.1em;
    margin-bottom: 30px;
}